@{
    ViewData["Title"] = "About";
}
<div class="container">
    <h1>@AliciaEnElMundoVegano.Resources.About.PageTitle</h1>
    <div class="panel panel-default">
        <div class="panel-body">@Html.Raw(AliciaEnElMundoVegano.Resources.About.PanelParagraph)
        </div>
    </div>
</div>
